@import url('https://fonts.googleapis.com/css2?family=poppins:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}
.img-response{
    width: 100%;
    height: 100%;
}
:root{
    --button-color: #03CCA9;
    --text-color : #C0BCBA;
    --border-color : #c0bcba4c;
}
a{
    text-decoration: none;
}
.header{
    padding: 0 10rem;
    border-bottom: 2px solid var(--border-color);
}
.header nav{
    background-color: #03CCA9;
    padding: 0 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.harmburger{
    display: none;
}
.logo{
    height: 3.5rem;
}
.tabs{
    display: flex;
    gap: 2.125rem;
    list-style: none;
}
.tabs li a{
    text-decoration: none;
    font-size: 1em;
    font-weight: 700;
    color: #000;
}

/* -----------section one------------ */
.sec1{
    margin-top: 2px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.sec1 .sec1-img-hold{
    height: 24rem;
    position: relative;
}
.inner-text{
    height: 25%;
    background-color: #00000062;
    width: 100%;
    bottom: 0;
    text-align: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.inner-text h2{
    color: #fff;
    font-weight: 700;
}
.inner-text a{
    color: #fff;
    background-color: var(--button-color);
    text-decoration: none;
    font-size: .925rem;
    padding: 5px 10px;
    font-weight: 600;
}
/* -----------section two----------- */
.sec2{
    display: flex;
    justify-content: space-between;
    padding: 7rem 5rem 2rem;
}
.sec2 .page-body{
    width: 60%;
    text-align: center;
}
.page-body .blog{
    padding: 0px 0 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

}
.page-body .blog h4{
    font-size: .925rem;
    color: #03CCA9;
    border-bottom: #03CCA9 2px solid;
    width: fit-content;
    padding: 5px 0;
}
.page-body .blog h1{
    margin-top: -5px;
    font-size: 2.125rem;
}
.page-body .blog .narrate{
    color: var(--text-color);
    font-size: .715rem;
    font-weight: 600;
}
.page-body .blog .blog-img-wrap{
    background-color: #03CCA9;
    width: 85%;
    overflow: hidden;
    height: 32rem;
}
.page-body .blog .blog-text{
    width: 75%;
    line-height: 24px;
    text-align: left;
    font-size: .815rem;
    font-weight: 600;
}
.page-body .blog .continue{
    margin-top: 5px;
    background-color: var(--button-color);
    text-decoration: none;
    color: #fff;
    font-size: 0.8em;
    padding: 15px 25px;
    font-weight: 600;
}
.page-body .blog .blogFooter{
    display: flex;
    justify-content: space-between;
    width: 75%;
    padding: 10px 0;
    border-bottom: 2px solid var(--border-color);
}
.blogFooter .blog-comment{
    font-size: 1em;
    font-weight: 600;
}
.blogFooter .blogSocial{
    display: flex;
    gap: 1rem;
    font-size: 0.9em;
    font-weight: 600;
}
.blogSocial i{
    cursor: pointer;
}


/* --------------sidebar-------------  */
.side-bar{
    width: 38%;
    background-color: #fafafa;
    padding: 2rem 5rem;
}
.stick-side-bar{
    flex-direction: column;
    display: flex;
    position: sticky;
    top: 20px;
    gap: 3rem;
}
.side-bar .stick-side-bar .side-box{
    border: 2px solid var(--text-color);
    padding: 20px;
    text-align: center;
    border-radius: 3px;
}
.sideBar-box-header::after{
    content: "";
    position: absolute;
    width: 3rem;
    border: 1.5px solid var(--border-color);
    left: 8em;
    top: 9.5px;
}
.sideBar-box-header::before{
    content: "";
    position: absolute;
    width: 3rem;
    border: 1.5px solid var(--border-color);
    right: 8em;
    top: 9.5px;
}
.sideBar-box-header{
    font-weight: 800;
    position: relative;
    font-size: .825rem;
    /* border: #000 1px solid; */
    padding: 0 20px;
}
.about .about-body h4{
    margin-top: 20px;
    font-weight: 600;
}
.about .about-body p{
    margin-top: 10px;
    line-height: 24px;
    font-size: 1em;
    font-weight: 500;
}
.about .about-body a{
    line-height: 32px;
    text-decoration: none;
    color: #000;
    font-weight: 600;
}


.social .sideBar-box-header::after{
    left: 9em;
}
.social .sideBar-box-header::before{
    right: 9em;
}
.social .social-body{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}
.social-body .icon-wrap{
    display: grid;
    padding: 10px;
    gap: 10px;
    border: 2px solid var(--border-color);
    font-size: 0.75em;
}
.social-body .icon-wrap i{
    font-size: 2.2em;
}


.category .sideBar-box-header::after{
    left: 10em;
}
.category .sideBar-box-header::before{
    right: 10em;
}
.category .category-body{
    margin-top: 25px;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
}
.category-body a{
    text-decoration: none;
    border: 2px solid var(--border-color);
    font-size: .9em;
    padding: 5px;
    color: #848484;
    font-weight: 500;
}


/* ---------Footer---------- */
.footer{
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem;
}

@media screen and (max-width: 567px) {
    /* ----------header section---------- */
    .tabs{
        display: none;
    }
    .harmburger{
        display: block;
        width: 20em;
        height: 5px;
        background-color: #000;
    }
    .header nav{
        padding: 0 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header{
        background-color: #03CCA9;

    }
    
    /* ----------main section---------- */
    .sec1{
        display: none;
    }
    .sec2{
        display: block;
        padding: 3rem 0rem 2rem;
    }
    .sec2 .page-body{
        width: 100%;

    }
    .page-body .blog{
        padding: 0px 0 3.5rem;
    
    }
    .page-body .blog .blog-text{
        width: 85%;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
    }
    .page-body .blog .blog-img-wrap{
        height: 20rem;
    }
    .page-body .blog .blogFooter{
        display: flex;
        justify-content: space-between;
        width: 85%;
        padding: 10px 0;
        border-bottom: 2px solid var(--border-color);
    }

    /* --------------sidebar-------------  */
    .side-bar{
        width: 100%;
        background-color: #fafafa;
        padding: 2rem 2rem;
    }
    
   
    /* ---------Footer---------- */
    .footer{
        display: flex;
        justify-content: space-between;
        padding: 1rem 1rem;
    }
    
}