@import url('https://fonts.googleapis.com/css2?family=poppins:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}
body{
    position: relative;
}
.img-response{
    width: 100%;
    height: 100%;
}
:root{
    --button-color: #2f5ffd;
    --text-color : #C0BCBA;
    --border-color : #c0bcba4c;
}
a{
    text-decoration: none;
}
i{
    cursor: pointer;
}
.BtT{
    z-index: 9;
    bottom: 8%;
    right: 6%;
    position: fixed;
    width: 60px;
    background-color: #2f5ffd;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.BtT i{
    font-size: 1.4em;
    color: #fff;
}
.header{
    padding: 0 10rem;
    border-bottom: 2px solid var(--border-color);
}
.header nav{
    padding: 0 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.harmburger{
    display: none;
}
.logo{
    height: 3.5rem;
}
.tabs{
    display: flex;
    gap: 2.125rem;
    list-style: none;
}
.tabs li a{
    text-decoration: none;
    font-size: 1em;
    font-weight: 700;
    color: #000;
}

/* -----------section one------------ */
.sec1{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    padding: 0 5%;
    position: relative;
}

.parallex{
    border-radius: 5px;
    height: 80vh;
    width: 100%;
    background-image: url(img/iphone-bg.jpg);
    background-size: 100% 90%;
    background-position: 0 0 0 120px;
    background-attachment: fixed;
    padding: 0 45rem 0 5rem;
    position: relative;
}
.parallex h1{
    bottom: 3rem;
    font-weight: 700;
    position: absolute;
    color: #fff;
    font-size: 3em;
}
.bg-darken{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.228);
    width: 100%;
    height: 100%;
}
/* -----------section two----------- */
.sec2{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 7rem 7.5rem 2rem;
    gap: 30px;
}
.sec2 .page-body{
    /* width: 60%; */
    padding: 0 7.5%;
    text-align: center;
}
.page-body .blog{
    padding: 0px 0 5.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

}
.page-body .blog #text-header{
    margin-top: -5px;
    font-size: 1.6rem;
    width: 100%;
    font-weight: 700;
}
.page-body .blog .narrate{
    color: var(--text-color);
    font-size: .715rem;
    font-weight: 600;
}
.page-body .blog .blog-img-wrap{
    background-color: #03CCA9;
    width: 100%;
    overflow: hidden;
    border-radius: 30px;
    height: 27rem;
}
.page-body .blog .blog-text{
    width: 100%;
    line-height: 24px;
    text-align: left;
    font-size: 1rem;
    font-weight: 600;
}
.page-body .blog .continue{
    margin-top: 5px;
    background-color: var(--button-color);
    text-decoration: none;
    color: #fff;
    font-size: 0.8em;
    padding: 15px 25px;
    font-weight: 600;
}
.page-body .blog .blogFooter{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
    border-bottom: 2px solid var(--border-color);
}
.blogFooter .blog-comment{
    font-size: 1em;
    font-weight: 600;
}
.blogFooter .likes{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1em;
}
.likes div{
    cursor: pointer;
    border: #000 1px solid;
    padding: 6px 10px;
    border-radius: 20px;
    display: flex;
    gap: 5px;
}

/* --------------sidebar-------------  */
.side-bar{
    background-color: #fafafa;
    padding: 2rem 3.5rem;
}
.stick-side-bar{
    flex-direction: column;
    display: flex;
    position: sticky;
    top: 20px;
    gap: 3rem;
}
.side-bar .stick-side-bar .side-box{
    border: 2px solid var(--text-color);
    padding: 20px;
    text-align: center;
    border-radius: 3px;
}
.sideBar-box-header::after{
    content: "";
    position: absolute;
    width: 3rem;
    border: 1.5px solid var(--border-color);
    left: 8em;
    top: 9.5px;
}
.sideBar-box-header::before{
    content: "";
    position: absolute;
    width: 3rem;
    border: 1.5px solid var(--border-color);
    right: 8em;
    top: 9.5px;
}
.sideBar-box-header{
    font-weight: 800;
    position: relative;
    font-size: 1rem;
    padding: 0 20px;
}
.about .about-body h4{
    margin-top: 20px;
    font-weight: 600;
    font-size: 1.3rem;
}
.about .about-body p{
    margin-top: 10px;
    line-height: 24px;
    font-size: 1.25em;
    font-weight: 500;
}
.about .about-body a{
    line-height: 32px;
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
}


/* ------category side-bar-------- */
.category .sideBar-box-header::after{
    left: 10em;
}
.category .sideBar-box-header::before{
    right: 10em;
}
.category .category-body{
    margin-top: 25px;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
}
.category-body a{
    text-decoration: none;
    border: 2px solid var(--border-color);
    font-size: 1.25rem;
    padding: 5px;
    color: #848484;
    font-weight: 500;
}


/* ---------Footer---------- */
.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 5rem;
}
.social{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;

}
.social-header{
    font-size: 15px;
    font-weight: 700;
}
.social .icon-wrap{
    font-size: 14px;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.social .icon-wrap:nth-child(2):hover{
    background-color: #4267B2;
    color: #fff;
}
.social .icon-wrap:nth-child(3):hover{
    background-color: #1DA1F2;
    color: #fff;
}
.social .icon-wrap:nth-child(4):hover{
    background-color: #E1306C;
    color: #fff;

}
.social .icon-wrap:nth-child(5):hover{
    background-color: #DF0022;
    color: #fff;
}
.social .icon-wrap:nth-child(6):hover{
    background-color: #DF5000;
    color: #fff;
}

@media screen and (max-width: 567px) {
    /* ----------header section---------- */
    .tabs{
        display: none;
    }
    .harmburger{
        display: block;
        width: 20em;
        height: 5px;
        background-color: #000;
    }
    .header nav{
        padding: 0 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header{
        background-color: #03CCA9;

    }
    
    /* ----------main section---------- */
    .sec1{
        display: none;
    }
    .sec2{
        display: block;
        padding: 3rem 0rem 2rem;
    }
    .sec2 .page-body{
        width: 100%;

    }
    .page-body .blog{
        padding: 0px 0 3.5rem;
    
    }
    .page-body .blog .blog-text{
        width: 85%;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
    }
    .page-body .blog .blog-img-wrap{
        height: 20rem;
    }
    .page-body .blog .blogFooter{
        display: flex;
        justify-content: space-between;
        width: 85%;
        padding: 10px 0;
        border-bottom: 2px solid var(--border-color);
    }

    /* --------------sidebar-------------  */
    .side-bar{
        width: 100%;
        background-color: #fafafa;
        padding: 2rem 2rem;
    }
    .sideBar-box-header{
        font-weight: 800;
        position: relative;
        font-size: 1rem;
        /* border: #000 1px solid; */
        padding: 0 20px;
    }
   
    /* ---------Footer---------- */
    .footer{
        display: flex;
        justify-content: space-between;
        padding: 1rem 1rem;
    }
    
}